/*Comment*/
body {
	margin: 0;     /*so that divs will flush to the left and right of the page*/
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #222831;
	font-family: 'Open Sans', sans-serif;
}

h3, p {
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}

p {
	color: #222831;
	font-size: 1.9rem;
}

img {
	width: 80%;
}
/*Introduction Section*/

.intro {
	background-color: #393e46;
	padding: 80px;
	text-align: center;
}

.greet {
	color: #eee;
	font-size: 2.9rem;
	font-weight: 400;
	text-align: left;
}

.name {
	font-size: 5rem;
	font-weight: 800;
}

.nickname {
	color: white;
	font-size: 4.5rem;
	font-weight: 400;
}

.you-can-call-me {
	font-size: 2rem;
}

/*Information Section*/

.info {
	background-color: #eeeeee;
	padding: 80px 180px;
	height: 1400px;
}

.info div {
	width: 45%;
}

.info h2 {
	margin-top: 0;
	font-size: 3rem;
	font-weight: 400;
}

.right-aligned {
	text-align: right;
	position: relative;
	left: 630px;
}

.ge {
	bottom: 260px;
}

.language {
	position: relative;
	bottom: 200px;
}

.food {
	bottom: 500px;
	text-align: center;
}
